* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userInterface {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.algo-container {
  display: flex;
  align-self: flex-end;
  margin: 5px;
}

.algo-container button {
  border: 1px solid grey;
  text-decoration: none;
  outline: none;
  padding: 5px;
}

.selected {
  background-color: grey;
}

.incorrect {
  background-color: red;
}
